<!DOCTYPE html><html lang=en ng-app=ives>
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5QL86B7');</script>
<!-- End Google Tag Manager -->
 
 <meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width, initial-scale=1"><title>Jonathan Medhanie</title><link href=css/materialize.css rel=stylesheet><link href=lib/fontawesome/css/font-awesome.min.css rel=stylesheet><link href=css/style.css rel=stylesheet><!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
 <![endif]--><script>
</script>
</head>
<body ng-controller="MainController as main">
   <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5QL86B7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <ng-hello interval={{interval}}></ng-hello>
    <header class=header>
        <div ng-trianglify="" class=background options=triangleconfig interval={{interval}}></div>
        <div class="circles h-card">
            <div class="logocircle darkbgcolor"><a href=https://linkedin.com/in/jonathanmedhanie rel=me target=_blank><i class="logo lightcolor ultradarkbgcolor fa fa-linkedin"></i></a></div>
            <div class="logocircle darkbgcolor"><a href="https://www.kaggle.com/johnnymedhanie" rel=me target=_blank><i class="logo lightcolor ultradarkbgcolor fa fa-database"></i></a></div>
            <div class="logocircle darkbgcolor"><a href=https://hackerrank.com/johnnymedhanie rel=me target=_blank><i class="logo lightcolor ultradarkbgcolor fa fa-code"></i></a></div>
            <div class="logocircle darkbgcolor"><a href=https://github.com/johnnymedhanie rel=me target=_blank><i class="logo lightcolor ultradarkbgcolor fa fa-github-alt"></i></a></div>

            <div class=profileimg>
                <img class=profileimg-container src=assets/me.jpeg> <i ng-click=main.goDown() class="darkcolor fa fa-chevron-down"></i></div>

            <div class=profileimg-container><img class="profileimg u-photo ng-scope"ng-src="lib/thatsme.jpeg" src="lib/thatsme.jpeg"> <i ng-click=main.goDown() class="darkcolor fa fa-chevron-down"></i></div>
        </div>
    </header>
    <div class=main>
        <section id=userinforow class="row firstrow contentrow bgcolor-transparent">
            <div class="col s12 m5 l7">
                <h2 class=darkcolor>Who am I?</h2>
                <p class=flow-text>I'm  <strong>Jonathan Medhanie</strong>. I'm <strong>20 </strong> years old and live in <strong>Vancouver, British Columbia</strong>.Currently, I'm a third year student studying <strong>Mathematics</strong> and <strong>Computer Science</strong> at the <strong>University of British Columbia</strong>. I'm a keen programmer whose skillset revolves around <strong>Adapting</strong> and <strong>Overcoming</strong>. 
                I've picked up learning <strong>Machine Learning</strong> and <strong>Data Mining</strong> recently on my own. My strength lies in <strong>Object-Oriented </strong> Development</p>
            </div>
            <div class="col s12 m7 l5">
                <h2 class="darkcolor h-card">Quick Summary:</h2>
                <div class=info><i class="fa fa-user icon darkcolor"></i> <span class="text p-name">Jonathan Medhanie</span> <i ng-click=main.changeIvesImage() class="fa fa-picture-o action ultralightcolor darkbgcolor hoverdarker"></i></div>
                <div class=info><i class="fa fa-map-marker icon darkcolor"></i> <span class="text p-region">Vancouver, BC</span> <i class="fa fa-globe action ultralightcolor darkbgcolor hoverdarker"></i></div>
                <div class=info><i class="fa fa-gear icon darkcolor"></i> <span class="text p-region">Proficient in Java, Racket and Python.</span> <i class="fa fa-book action ultralightcolor darkbgcolor hoverdarker"></i></div>
           </div>
        </section>
        <section id=skillrow class="row contentrow centerrow ultradarkbgcolor-transparent">
            <h1>Skills</h1>
            <div class="subheader-text descriptioncolor flow-text col s12 m10 offset-m1 l6 offset-l3">
            I excel in development that needs fresh ideas and a creative mind. I'm able to take a new approach to any issue. I'm equipped with Python and Java as my tools. 
            </div>
            <div class="col s12 skill scrollfade">
                <h2 style="padding-bottom: 0;" class="col s12">Coding Skills</h2>
                <div class="col s12 skills">
                    <h3 class="col s12">Programming Languages</h3>
                    <div class="name col l3 m3 s12">Java </div>
                    <div class="name col l3 m3 s12">Racket</div>
                    <div class="name col l3 m3 s12">C++</div>

                    <div class="name col l3 m3 s12">Python</div>
                    <div class="name col s12 border"></div>
                    <h3 class="col s12">Backend/Query</h3>
                    <div class="name col l4 m4 s12">Node.js</div>
                    <div class="name col l4 m4 s12">PHP</div>
                    <div class="name col l4 m4 s12">SQL</div>
                    <div class="name col s12 border"></div>
                    <h3 class="col s12">Frontend</h3>
                    <div class="name col l3 m3 s12">React</div>
                    <div class="name col l3 m3 s12">HTML5</div>
                    <div class="name col l3 m3 s12">CSS3</div>
                    <div class="name col l3 m3 s12">Javascript</div>
                    <div class="name col l4 m4"></div>
            </div>
            <div class="col s12 skill scrollfade">
                <h2 style="padding-bottom: 0;" class="col s12">Tools</h2>
                <div class="col s12 skills">
                    <h3 class="col s12">Visual Tools</h3>
                    <div class="name col m6 s12">Adobe Photoshop</div>
                    <div class="name col m6 s12">Adobe Illustrator</div>
                    <div class="name col m6 s12">Adobe After Effects</div>
                    <div class="name col m6 s12">Adobe Premiere Pro</div>
                    <div class="name col s12 border"></div>
                    <h3 class="col s12">Version Control Systems</h3>
                    <div class="name col s6">Git</div>
                    <div class="name col s6">SVN</div>
                    <div class="name col s12 border"></div>
                </div>
            </div>
            <div class="col s12 skill scrollfade">
                <h2 style="padding-bottom: 0;" class="col s12">Hackathons</h2>
                <div class="col s12 skills">
                    <div class="language col s12"><span class="col l2 m12 s12">DubHacks 2017</span> <span class="col l4 m12 s12 langdesc">
                        Built <strong>StoryHunter</strong>, an android app powered by Marvels API and Google Maps. Inspired by Pokemon GO and comic books, we tried to change how we interact with comic books. What StoryHunter did was scatter relevant comic book stories all over the city and users would go outside to explore and collect them. <a href="https://github.com/janet-chen/STORYHUNTER">Take a look!</a>
                        </span>
                    </div>
                    
                    <div class="language col s12"><span class="col l2 m12 s12">NwHacks 2017</span> <span class="col l4 m12 s12 langdesc">Built <strong>Lipht</strong>, a mental health app that is there for anyone when they're feeling low. Lipht incorporates Google's firebase to construct a group cloud messaging system. It also uses the Camera API to take pictures. 
                        </span>
                        
                    </div>
                    <div class="language col s12"><span class="col l2 m12 s12">Hackentine 2016</span> <span class="col l4 m12 s12 langdesc">Valentine's day themed hackathon, built a To-Do app</span>
                       
                    </div>
                    <div class="language col s12"><span class="col l2 m12 s12">lumoHacks 2016</span> <span class="col l4 m12 s12 langdesc">            Health-themed hackathon, consisted of development using pair-programming</span>
                       
                    </div>
                    <div class="language col s12"><span class="col l2 m12 s12">NwHacks 2016</span> <span class="col l4 m12 s12 langdesc">Attempted to build a 3D pinball game in Unity</span>
                    
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section id=projectrow class="row contentrow portfoliorow ultradarkbgcolor-transparent" ng-controller="PortfolioController as portfolio">
          
            <div ng-hide=portfolio.item class=frontportfolio>
                <h1>Projects</h1>
                <div class="subheader-text descriptioncolor flow-text col s12 m10 offset-m1 l6 offset-l3">
                    Whether you'd like to see my most recent or advanced stuff, you can find all my projects to date <a href="https://github.com/johnnymedhanie"><strong>Right Here</strong></a>
                    but you're looking at how I solve<a href="https://hackerrank.com/johnnymedhanie"><strong> programming </strong></a> problems or <a href="https://kaggle.com/johnnymedhanie"><strong>Data Mining / Machine Learning</strong></a>, those will show you.
                </div>
                <div class="portfolio col s12">
                    <div ng-repeat="item in portfolio.items" ng-class="{'col': true, 'l2 m6 s12': item.small, 'l4 m6 s12': !item.small}">
                        <ng-portfolio transformfunction="portfolio.transformfunction(item, pos)" item={{item}} ng-style="{'transition-delay': item.delay}"></ng-portfolio>
                    </div>
                </div>
            </div>        </section>
        <section id=contactrow class="row contentrow bgcolor-transparent" ng-controller="ContactController as contact">
            <h1 class=headercolor>Contact</h1>
            <div class="subheader-text ultradarkcolor flow-text col s12 m10 offset-m1 l6 offset-l3"><span style="font-weight: 400">Thanks for stopping by!</span><br>If you'd like my resume or if you have any opinions, send me an <em>email</em> at <strong>johnnymedhanie@gmail.com</strong> feel free to leave it in my inbox in any of my links at the top. Cheers! </div>
        </section>
    </div>
    <script src=lib/jquery/dist/jquery.min.js></script>
    <script src=lib/materialize/dist/js/materialize.min.js></script>
    <script src=lib/angular/angular.min.js></script>
    <script src=lib/angular-animate/angular-animate.min.js></script>
    <script src=lib/trianglify/dist/trianglify.min.js></script>
    <script src=lib/moment/min/moment.min.js></script>
    <script src=lib/angular-embed-codepen/dist/embed-codepen.min.js></script>
    <script src=lib/lodash/dist/lodash.min.js></script>
    <script src=lib/angular-google-maps/dist/angular-google-maps.min.js></script>
    <script src=lib/angular-sanitize/angular-sanitize.min.js></script>
    <script src=all.min.js></script>
 
    <script>
     /* TRACK */
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99032596-1', 'auto');
  ga('send', 'pageview');
 </script>
 
 
     <script>
        /* <![CDATA[ */
        (function(d, s, a, i, j, r, l, m, t) {
            try {
                l = d.getElementsByTagName('a');
                t = d.createElement('textarea');
                for (i = 0; l.length - i; i++) {
                    try {
                        a = l[i].href;
                        s = a.indexOf('/cdn-cgi/l/email-protection');
                        m = a.length;
                        if (a && s > -1 && m > 28) {
                            j = 28 + s;
                            s = '';
                            if (j < m) {
                                r = '0x' + a.substr(j, 2) | 0;
                                for (j += 2; j < m && a.charAt(j) != 'X'; j += 2) s += '%' + ('0' + ('0x' + a.substr(j, 2) ^ r).toString(16)).slice(-2);
                                j++;
                                s = decodeURIComponent(s) + a.substr(j, m - j)
                            }
                            t.innerHTML = s.replace(/</g, '&lt;').replace(/\>/g, '&gt;');
                            l[i].href = 'mailto:' + t.value
                        }
                    } catch (e) {}
                }
            } catch (e) {}
        })(document); /* ]]> */
    </script>
</body>
</html>
